# EXPLORATORY DATA ANALYSIS

In [9]:
# Read in the document-term matrix
import pandas as pd

data = pd.read_pickle('Flipkart_dtm.pkl')
data = data.transpose()
data.head()

              0
abe           1
aboutanddays  1
aboutdays     1
aboutmonths   1
absolutely    7

In [11]:
data = data.transpose()
data

              0
abe           1
aboutanddays  1
aboutdays     1
aboutmonths   1
absolutely    7
...          ..
youre         1
youtube       5
yr            1
yt            1
zone          1

[2740 rows x 1 columns]

In [15]:
top_dict = {}
top = data[0].sort_values(ascending=False).head(50)
top_dict[0]= list(zip(top.index, top.values))
top_dict

{0: [('good', 527),
  ('phone', 368),
  ('camera', 225),
  ('battery', 208),
  ('price', 186),
  ('mobile', 179),
  ('nice', 147),
  ('best', 138),
  ('product', 111),
  ('performance', 103),
  ('quality', 98),
  ('awesome', 85),
  ('display', 84),
  ('like', 82),
  ('flipkart', 79),
  ('fast', 76),
  ('money', 72),
  ('better', 68),
  ('really', 62),
  ('value', 62),
  ('redmi', 62),
  ('range', 61),
  ('budget', 57),
  ('great', 56),
  ('buy', 56),
  ('backup', 52),
  ('delivery', 51),
  ('excellent', 48),
  ('use', 48),
  ('happy', 47),
  ('super', 46),
  ('thank', 46),
  ('mi', 45),
  ('just', 39),
  ('overall', 37),
  ('time', 36),
  ('love', 33),
  ('charging', 32),
  ('features', 31),
  ('using', 30),
  ('design', 29),
  ('screen', 29),
  ('low', 29),
  ('working', 28),
  ('service', 27),
  ('thanks', 27),
  ('processor', 27),
  ('want', 26),
  ('normal', 26),
  ('dont', 26)]}

*NOTE* : we can also remove some top words from this list if they are just common words like value,use,using,dont,just,want,normal,range,nice,thanks,overall,service,time and add them to stop words list

Since these words are not together , I am just going to add them manually

In [18]:
#from collections import Counter --> IF YOU WANT TO DIRECTLY REMOVE SOME OF TOP WORDS , YOU CAN COUNT HOW MANY TIMES THEY ARE OCCURING IN THE LIST
#HOWEVER HERE ALL OF THEM WILL OCCUR ONLLY ONCE
words = ['value','use','using','dont','just','want','normal','range','nice','thanks','overall','service','time']
words

['value',
 'use',
 'using',
 'dont',
 'just',
 'want',
 'normal',
 'range',
 'nice',
 'thanks',
 'overall',
 'service',
 'time']

In [17]:
# Let's aggregate this list and identify the most common words along with how many routines they occur in
Counter(words).most_common()

[('value', 1),
 ('use', 1),
 ('using', 1),
 ('dont', 1),
 ('just', 1),
 ('want', 1),
 ('normal', 1),
 ('range', 1),
 ('nice', 1),
 ('thanks', 1),
 ('overall', 1),
 ('service', 1),
 ('time', 1)]

In [23]:
# Let's update our document-term matrix with the new list of stop words
from sklearn.feature_extraction import text 
from sklearn.feature_extraction.text import CountVectorizer

# Read in cleaned data
corpus = pd.read_pickle('Flipkart_comb.pkl')

# Add new stop words
stop_words = text.ENGLISH_STOP_WORDS.union(words)

# Recreate document-term matrix
cv = CountVectorizer(stop_words=stop_words)
data_cv = cv.fit_transform(corpus.TEXT)
data_stop = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
data_stop.index = corpus.index

# Pickle it for later use
import pickle
pickle.dump(cv, open("cv_stop.pkl", "wb"))
data_stop.to_pickle("dtm_stop.pkl")

data_stop

,abe,aboutanddays,aboutdays,aboutmonths,absolutely,accepted,accepting,according,accordingly,activities,...,yes,yetgood,yoga,youll,younger,youre,youtube,yr,yt,zone
0,1,1,1,1,7,1,1,9,1,2,...,2,1,1,3,1,1,5,1,1,1

In [26]:
!pip install wordcloud

Requirement already satisfied: wordcloud in /home/skull_crusher/anaconda3/lib/python3.6/site-packages (1.8.0)
Requirement already satisfied: pillow in /home/skull_crusher/anaconda3/lib/python3.6/site-packages (from wordcloud) (7.1.2)
Requirement already satisfied: numpy>=1.6.1 in /home/skull_crusher/.local/lib/python3.6/site-packages (from wordcloud) (1.18.4)
Requirement already satisfied: matplotlib in /home/skull_crusher/.local/lib/python3.6/site-packages (from wordcloud) (3.2.1)
Requirement already satisfied: cycler>=0.10 in /home/skull_crusher/.local/lib/python3.6/site-packages (from matplotlib->wordcloud) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /home/skull_crusher/.local/lib/python3.6/site-packages (from matplotlib->wordcloud) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/skull_crusher/.local/lib/python3.6/site-packages (from matplotlib->wordcloud) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/skull_crusher/.local/lib/python3.6/site-packages (from matplotlib->wordcloud) (2.4.7)
Requirement already satisfied: six in /home/skull_crusher/.local/lib/python3.6/site-packages (from cycler>=0.10->matplotlib->wordcloud) (1.14.0)

In [27]:
import os
import matplotlib.pyplot as plt
from wordcloud import WordCloud

In [ ]:
# Start with one review:
text = comb_text.TEXT[0]

# Create and generate a word cloud image:
wordcloud = WordCloud().generate(text)

# Display the generated image:
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.show()

In [24]:
# Let's make some word clouds!
# Terminal / Anaconda Prompt: conda install -c conda-forge wordcloud
from wordcloud import WordCloud

wc = WordCloud(stopwords=stop_words, background_color="white", colormap="Dark2",
               max_font_size=150, random_state=42)

In [25]:
# Reset the output dimensions
import matplotlib.pyplot as plt

plt.rcParams['figure.figsize'] = [16, 6]

full_names = ['TOP WORDS']

# Create subplots for each comedian
wc.generate(corpus.TEXT[0])
plt.subplot(3, 4, index+1)
plt.imshow(wc, interpolation="bilinear")
plt.axis("off")
plt.title(full_names[0])
plt.show()

NameError: name 'index' is not defined